* {
  margin: 0;
  border: none;
  padding: 0;
  box-sizing: border-box;
 }
body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.header {
  padding-top: 42vh;
  height: 100vh;
  background-image: url(./../images/sea.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #926239;
}
.header__title {
  font-size: 45px;
  margin: 0 0 4px 0;
}
.header__paragraph {
  font-size: 19px;
}
.header__button {
  display: inline-block;
  margin: 20px 0 0 0;
  border: 1px solid #926239;
  border-radius: 10px;
  padding: 13px 20px;
  text-decoration: none;
  color: #926239;
}
.main__1paragraph,
.main__2paragraph {
  padding: 17px 30px;
  line-height: 1.6;
  font-size: 15px;
}
.main__1paragraph {
  color: aliceblue;
  background-color: #926239;
}
 .main__2paragraph{
  color: #926239;
  background-color: #f4f4f4;
}
.footer__1section,
.footer__2section {
  display: inline-block;
  padding: 17px 30px;
  width: calc(100%/3);
  line-height: 1.6;
  font-size: 15px;
}
.footer__1section {
  color: aliceblue;
  background-color: #926239;
}
.footer__2section {
  color: #926239;
  background-color: #f9f9f9;
}